<footer class="footer">
    <div class="footer-logo">
        <!-- <img src="/images/SMlogos/travel.png" alt="logo image" height="auto" width="150px"> -->
        <h4>Travel Guide</h4>
    </div>
    <div class="footer-copyright">
        <p>Copyright © 2025 Travel Website. All rights reserved.</p>
    </div>
    <div class="footer_social-media">
        <h6>Follow Us</h6>
        <a href="#" id="facebook">
            <img src="/images/facebook.png" width="20px" alt="Facebook logo-link">
        </a>
        <a href="#" id="instagram">
            <img src="/images/insta.png" width="20px" alt="Instagram logo-link">
        </a>
        <a href="#" id="twitter">
            <img src="/images/twitter.png" width="20px" alt="twitter logo-link">
        </a>
        
    </div>
</footer>