<header class="header">
    <div class="navbar">
        <h1><a href="/" class="pageLogo-title">Travel Guide</a></h1>
        <ul class="menu-links">
            <li><a href="/" class="right-menu">Home</a></li>
            <li><a href="/america" class="right-menu">America</a></li>
            <li><a href="/europe" class="right-menu">Europe</a></li>
            <li><a href="/asia" class="right-menu">Asia</a></li>
        </ul>
    </div>
</header>
